body {
  font-family: system-ui, sans-serif;
  margin: 0;
  background: #fff;
  color: #000;
}

.container {
  max-width: 420px;
  margin: auto;
  padding: 24px;
}

h1 {
  font-size: 20px;
  margin-bottom: 10px;
}

.subtitle {
  color: #777;
  font-size: 14px;
}

.visual-box {
  margin: 30px 0;
  padding: 20px;
  border: 1px solid #000;
  text-align: center;
}

.main-btn {
  width: 100%;
  padding: 18px;
  background: #000;
  color: #fff;
  border: none;
  font-weight: bold;
}

.payment-info {
  font-size: 12px;
  margin-top: 20px;
  color: #444;
}

footer {
  margin-top: 40px;
  font-size: 12px;
  text-align: center;
}
